# Algorithmics - Homework 2
### Naiara Alonso Montes

#### Exercise 1
To implement the queue and stack data structures, I have used a simple list, where in both cases append and pop are the instructions ``append`` and ``pop``, with the difference that in the case of the stack, the last element is the first to be removed, while in the queue, the first element is the first to be removed.

The results found are presented in the following table:
| Data Structure | Inserted elements | Deleted elements | Erroneous operations | Maximal Size | Time of maximal size (s) | Elements remaining |
|--------------|-------------------|------------------|----------------------|--------------|-------------------------|--------------------|
| Queue 1      | 360651            | 273234           | 6                    | 131211       | 7                       | 87473              |
| Queue 2      | 369403            | 257476           | 0                    | 145853       | 9                       | 111857             |
| Queue 3      | 379748            | 240999           | 13                   | 162943       | 12                      | 138748             |
| Queue 4      | 389357            | 224954           | 0                    | 184053       | 15                      | 164538             |
| Queue 5      | 399141            | 196553           | 4                    | 202300       | 19                      | 202300             |
| Stack 1      | 367013            | 263324           | 16                   | 141717       | 9                       | 104699             |
| Stack 2      | 382954            | 236263           | 1                    | 169400       | 13                      | 147035             |
| Stack 3      | 400358            | 196910           | 4                    | 203731       | 19                      | 203751             |
| Total        | 4936893           | 3048625          | 44                   |              |                         |                    |

The time measures represented are from the beginning of the data structure loop. Some conclusions can be drawn from the results:
- The number of erroneous operations is very low compared to the total number of operations.
- The maximal size for the last DS of each type is the biggest, which is expected. Also, the maximal size of this last DS is equal to the number of elements remaining. Working according to the code, where the last DS has the highest probabilities of insertion.

In [1]:
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky" colspan="2">Configuration 1<br></th>
    <th class="tg-0pky" colspan="2">Configuration 2</th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-0pky">Queue 1</td>
    <td class="tg-0pky">Average stay</td>
    <td class="tg-0pky">Longest stay<br></td>
    <td class="tg-0pky">Average stay</td>
    <td class="tg-0pky">Longest stay</td>
  </tr>
  <tr>
    <td class="tg-0pky">Queue 2</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Queue 3</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Queue 4</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Queue 5</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Stack 1</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Stack 2</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Stack 3</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Stack 4</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Stack 5</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
</tbody></table>

SyntaxError: invalid decimal literal (1080977769.py, line 3)